<h1>Signup!</h1>
<%= form_tag '/users', method: :post do  %>
  <div>
    Username: <input type="text" name="username">
  </div>
  <div>
    Email: <input type="email" name="email">
  </div>
  <div>
    Device ID: <input type="text" name="device_id">
  </div>
  <div>
    Blood Sugar Lower Bound: <input type="text" name="blood_sugar_lower">
  </div>
  <div>
    Blood SUgar Upper Bound: <input type="text" name="blood_sugar_upper">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <div>
    Confirm Password: <input type="password" name="password_confirmation">
  </div>
  <input type="submit" value="Submit">
<% end %>